<!DOCTYPE html>
<html>
<head>
  <title>ConvoMister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "json2" %>
  <%= javascript_include_tag "json_parse" %>
  <%= javascript_include_tag "json_parse_state" %>
  <%= javascript_include_tag "underscore" %>
  <%= javascript_include_tag "backbone" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">HollaWiki</a>

        <% if user_signed_in? %>
           <ul class="nav">
             <li><%= link_to 'Scenarios', :controller => "scenarios", :action => "index"%></li>
             <li><a href="#">My Account</a></li></ul>
           <p class="navbar-text pull-right">
             Logged in as <%= current_user.email %> | <%= link_to "Logout", destroy_user_session_path %>
           </p>
        <% else %>


           <p class="navbar-text pull-right"> <%= link_to "Login", new_user_session_path %> </p>

        <% end  %>

    </div>
  </div>
</div>

<div class="container">
   <%= yield %>
</div>
</body>
</html>
